@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* --- Navbar ---  */

.navbar {
  padding: 2rem;
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar-item {
  /* background: blue; */
  display:inline-block;
  position: relative;
}

.navbar-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.navbar-item:hover:after {
  transform: scale(1);
  transform-origin: bottom left;
}