@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer components {
  /* --- Navbar ---  */
  .navbar {
    padding: 2rem;
    font-size: 1.5rem;
    /* -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease; */
    @apply transition ease-out duration-1000
  }

  .navbar-brand {
    font-size: 2.5rem;
  }

  .navbar-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
    /* background: blue; */
    display: inline-block;
    position: relative;
  }

  .active {
    font-weight: bold;
  }

  .navbar-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navbar-item:hover:after {
    transform: scale(1);
    transform-origin: bottom left;
  }

  /* Profile */
  .profile {
    @apply bg-sky-100 border-solid border-2 border-cyan-700 drop-shadow-md transition duration-200 ease-out hover:shadow-2xl hover:scale-105 hover:ease-in hover:drop-shadow-2xl w-3/4 place-self-center rounded-sm
  }

  .profile-img {
    @apply z-0
  }

  .profile-item-1 {
    @apply bg-sky-50 p-5
  }

  .profile-item-2 {
    @apply bg-sky-300 p-5 grow
  }

  /* Pages */
  .page-intro {
    @apply self-center text-center p-32 bg-sky-300 w-screen
  }

  /* Projects */
  .project {
    @apply bg-sky-300 border-solid border-2 border-sky-800 rounded drop-shadow-sm p-5 w-full my-3 text-left
  }

  /* Contact */
  .contact {
    @apply bg-sky-300 border-solid border-2 border-sky-800 rounded drop-shadow-sm p-5 min-w-min text-center self-center m-10
  }

  /* Learning */
  .box {
    height: 300px;
    width: 300px;
    margin: 10px;

    @apply bg-sky-300 border-solid border-2 border-sky-800 rounded drop-shadow-sm p-5
  }

  .flip {
    animation: flip 0.5s ease-in-out;
  }

  .heading {
    @apply font-medium text-2xl pt-2 m-10 place-self-center
  }

  .heading_2 {
    @apply font-light pb-2 text-xl place-self-center
  }

  .box-container {
    @apply flex flex-row flex-wrap place-content-center
  }

  /* Projects */

  .projects {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
  }

  .projects p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: $black;

  }

  /* Numbers */
  .projects p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: pink;
    text-align: center;
    line-height: 1.25em;
    color: blue;
    font-size: 1em;
  }

  /* odd number borders */
  .projects p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
  }

  .projects p:before {
    left: 100%;
    margin-left: -20px;
  }

  /* even number borders */
  .projects p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
  }

  .projects p:before {
    right: 100%;
    margin-right: -20px;
  }

  /* handle first and last */
  .projects p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .projects p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


  /* --- Contacts ---  */
  .dissapear {
    @apply ease-out duration-150 hover:opacity-0
  }
}