@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* --- Navbar ---  */

@layer components {
  .navbar {
    padding: 2rem;
    font-size: 1.5rem;
  }
  
  .navbar-brand {
    font-size: 2.5rem;
  }
  
  .navbar-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 
      md:hover:bg-transparent md:border-0 md:p-0 dark:text-gray-400
      md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white 
      md:dark:hover:bg-transparent dark:border-gray-700;
    /* background: blue; */
    display:inline-block;
    position: relative;
  }

  .active {
    font-weight: bold;
  }
  
  .navbar-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar-item:hover:after {
    transform: scale(1);
    transform-origin: bottom left;
  }

  /* Profile */
  .profile {
    @apply bg-sky-100 border-solid border-2 border-cyan-700 drop-shadow-md
      transition duration-200 ease-out hover:scale-105 hover:ease-in
      hover:drop-shadow-2xl w-3/4 place-self-center
  }

  .profile-img {
    @apply w-12 z-0
  }

  .profile-item-1 {
    @apply bg-sky-50 p-5 grow

  }

  .profile-item-2 {
    @apply bg-sky-300 p-5 grow
  }

  /* Pages */
  .page-intro {
    @apply self-center text-center p-32 bg-sky-300 w-screen
  }

  /* Learning */
  .box {
    height: 300px;
    width: 300px;
    margin: 10px;

    @apply bg-sky-500 border-solid border-2 border-sky-800 rounded drop-shadow-sm 
  }
  .box:hover {
    animation: flip 0.5s linear;
  }
  
  .heading {
    @apply font-medium text-2xl p-2 m-10 place-self-center
  }

  .box-container {
    @apply flex flex-row flex-wrap place-content-center
  }

  @keyframes flip {
    0% {
      transform: scale(1, 1)
    }
    50% {
      transform: scale(0, 1.2);

    }
    100% {
      transform: scale(1, 1);
    }
  }
}

